@import url(./addUser/AddUser.css);

.list {
  list-style: none;
}

.user-list {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
}

.user-list-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 250px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.userDetailsCardModal{
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 10px;
  top: 22%;
  padding: 10px 20px 20px 20px;
  width: 659px;
  height: 565px;

}
.userDetailsCardModal--close{
  display: none;
  pointer-events: none;
}
.btn-close--modal{
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  border: 0;
  right: 2%;
  pointer-events: visible;

}

.btn-edit-users {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-edit-users:hover {
  cursor: pointer;
}
.btn-edit-users img {
  width: 20px;
  height: 20px;
}

.user-section {
  display: flex;
  gap: 30px;
}

.container--user {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 0px 20px 20px 20px;
}
.btn--add-user {
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.25);
  right: 80px;
  bottom: 80px;
  border-radius: 60px;
  border: none;
}
.btn--add-user:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn--add-user img{
  width: 60px;
  height: 60px;
}

.btn--default{
  background-color: rgb(195, 60, 101);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  outline: 0;
  text-align: center;
  width: 75%;
}
.user-details-btn-container{
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 15px;
  flex-direction: column;
}